# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gibson\Google Drive\BYU-I\2020 - Fall\CS 246 - Software Design and Development\HelloFromMike\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
